<div class="container">
    <!-- Ícono en la esquina superior izquierda -->
    <i class="bi bi-file-earmark-spreadsheet icon-file"> Latest Innovations & Insights</i>

    <!-- Botón en la esquina superior derecha -->
    <button class="butonToday">
        <i class="bi bi-funnel"></i> Today <i class="bi bi-chevron-compact-down"></i>
    </button>

    <!-- Contenedor de tarjetas -->
    <div class="card-container">
        <div class="card">
            <div class="image-container">
                <img [src]="imageUrl" [alt]="title" class="card-image">
                <div class="image-technology">Technology</div>
            </div>
            <div class="card-content">
                <h3 class="card-title">{{ title }}</h3>
                <p class="card-description">{{ description }}</p>
                <button class="readmore">Read More <i class="bi bi-arrow-up-right"></i></button>
            </div>
        </div>

        <div class="card">
            <div class="image-container">
                <img [src]="imageUrl" [alt]="title" class="card-image">
                <div class="image-technology">Technology</div>
            </div>
            <div class="card-content">
                <h3 class="card-title">{{ title }}</h3>
                <p class="card-description">{{ description }}</p>
                <button class="readmore">Read More <i class="bi bi-arrow-up-right"></i></button>
            </div>
        </div>

        <div class="card">
            <div class="image-container">
                <img [src]="imageUrl" [alt]="title" class="card-image">
                <div class="image-technology">Technology</div>
            </div>
            <div class="card-content">
                <h3 class="card-title">{{ title }}</h3>
                <p class="card-description">{{ description }}</p>
                <button class="readmore">Read More <i class="bi bi-arrow-up-right"></i></button>
            </div>
        </div>

        <div class="card">
            <div class="image-container">
                <img [src]="imageUrl" [alt]="title" class="card-image">
                <div class="image-technology">Technology</div>
            </div>
            <div class="card-content">
                <h3 class="card-title">{{ title }}</h3>
                <p class="card-description">{{ description }}</p>
                <button class="readmore">Read More <i class="bi bi-arrow-up-right"></i></button>
            </div>
        </div>
    </div>
</div>
