<header>
    <div class="header-image">
        <img [src]="imageUrl" [alt]="altText">
        <div class="header-content">
            <div class="container">  <div class="row">
                <div class="col-12"> <h1>
                    {{ titleUno }}<br>
                    with <span class="smart-automation">Smart Automation</span>
                </h1>
                <p class="texto">
                    Discover the power of instant data access, precision control, and seamless
                    connectivity for modern greenhouse management.
                </p>
                <button>Get Started Today <i class="bi bi-arrow-up-right"></i></button>
                </div>
            </div>
            </div>
        </div>
        </div>

</header>
