<div class="banner">
    <div class="banner-content">
        <div class="logo">
            <i class="bi bi-person-circle"></i> <img src= {{Publicenter}} alt="Logo">
        </div>
        <div class="partner-brands">
            <div class="brand-logos">
            <img src="/assets/image3.png" alt="NITZAN">
            <img src="/assets/logo11.png" alt="Himarcan">
            <img src="/assets/image4.png" alt="Buitelaar">
            <img src="/assets/image5.png" alt="Techniek Nederland">
            <img src="/assets/logo_Verardo_horizontal_bleu_ 1.png" alt="Verardo">
        </div>
    </div>
    </div>
</div>
