
    <div class="flex flex-wrap footer">
        <!-- Logo y lema -->
        <div class="flex flex-col items-start ">
        <img [src]="footerUrl" alt="Greenspec Logo" class="mb-2 w-20" />
        <p class="font-semibold text-green-400">Smart Horticulture Solutions</p>
        </div>
    
        <!-- About Us -->
        <div class="flex flex-col ">
        <h3 class="font-bold">About us</h3>
        <ul>
            <li><a routerLink="/company-info">Company Info</a></li>
            <li><a routerLink="/mission">Mission & vision</a></li>
            <li><a routerLink="/history">Our history</a></li>
            <li><a routerLink="/team">Team</a></li>
        </ul>
        </div>
    
        <!-- Solutions -->
        <div class="flex flex-col">
        <h3 class="font-bold">Solutions</h3>
        <ul>
            <li><a routerLink="/climate-control">Greenspec Climate Control</a></li>
            <li><a routerLink="/kanut">Kanut</a></li>
        </ul>
        </div>
    
        <!-- Our Products -->
        <div class="flex flex-col ">
        <h3 class="font-bold">Our products</h3>
        <ul>
            <li><a routerLink="/soil-sensors">Soil sensors</a></li>
            <li><a routerLink="/climate-sensors">Climate sensors</a></li>
            <li><a routerLink="/iot-sensors">IoT sensors</a></li>
            <li><a routerLink="/water-sensors">Water sensors</a></li>
            <li><a routerLink="/hardware">Hardware</a></li>
        </ul>
        </div>
    
        <!-- Knowledge Hub -->
        <div class="flex flex-col ">
        <h3 class="font-bold">Knowledge hub</h3>
        <ul>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/guides">Guides</a></li>
            <li><a routerLink="/case-studies">Case studies</a></li>
        </ul>
        </div>
    
        <!-- Contact Us -->
        <div class="flex flex-col ">
        <h3 class="font-bold">Contact us</h3>
        <ul>
            <li><a routerLink="/forms">Forms</a></li>
        </ul>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-youtube "></i>
        <i class="bi bi-facebook"></i>
        <p>
            <a href="mailto:information@greenspec.cl" class="text-blue-600">information.cl</a>
        </p>
        <p>+31 627 479 925</p>
        </div>
    </div>


    <!-- Footer Bottom -->
    <div class="bg-green-200 text-gray-600 text-center py-3 text-xs">
        <p>© 2025 Greenspec - All rights reserved</p>
        <a routerLink="/terms" class="mr-3">Terms and conditions</a>
        <a routerLink="/privacy" class="mr-3">Privacy policy</a>
        <a routerLink="/cookies">All cookies</a>
    </div>
    

