<div class="cardbanner">
    <div class="image-container-banner">
        <img [src]="imageBanner" alt="Card image" class="card-img-top">
        <div class="card-text-overlay banner">
            <div class="overlay-content banner"> <h5 class="titleUno">{{ titleUno }}</h5>
                <div class="descriptionUno">
                    <p class="card-text">{{ descriptionUno }}</p>
                </div>
            </div>
            <div class="overlay-content banner"> <h5 class="titleUno">{{ titleDos }}</h5>
                <div class="descriptionUno">
                    <p class="card-text">{{ descriptionDos }}</p>
                </div>
            </div>
            <div class="overlay-content banner"> <h5 class="titleUno">{{ titleTres }}</h5>
                <div class="descriptionUno">
                    <p class="card-text">{{ descriptionTres }}</p>
                </div>
            </div>
        </div>

    </div>

</div>
