<div class="card">
    <div class="image-container">
        <img [src]="imageUrl" alt="Card image" class="card-img-top">
        <div class="card-text-overlay">
            <div class="overlay-content"> <h5 class="card-title">{{ titlegra }}</h5>
                <div class="descriptiongra">
                    <p class="card-text">{{ descriptiongra }}</p>
                </div>
                <div class="boton">
                    <a href="#" class="btn btn-outline-light boton">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>

</div>